<div class="row row-cols-1 row-cols-md-3 g-4 container mt-5">
  <div
    class="col link-to-product-1"
    style="width: 18rem"
    *ngFor="let product of products"
  >
    <div class="card">
      <a href="#" class="link-to-product">
        <img
          src="../../assets/produt-example.jpg"
          class="card-img-top"
          alt="produto"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            <span class="fw-bold text-warning">
              {{ product.valor }} <br />
            </span>
            <span class="text-muted" style="font-size: 15px">
              À vista no PIX
            </span>
          </p>
        </div>
      </a>
      <div class="card-footer">
        <div class="d-grid gap-2">
          <a href="#" class="btn btn-primary">
            <i class="fa fa-shopping-cart me-2" aria-hidden="true"></i>
            Adicionar no carrinho
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
